 <div class="menufix"> <a class="logo" href="index.html"></a>
        <div class="mobile-toggle"> <span></span> <span></span> <span></span> </div>
        <nav>
          <ul>
            <li class="line"><a class="out animsition-link" href="inicio">Inicio</a></li>
            <li class="line"><a class="out animsition-link" href="nosotros">Nosotros</a></li>
            <li class="line"><a class="out animsition-link" href="cursos">Cursos</a></li>
            <!--<li class="line"><a class="out animsition-link" href="bolsaTrabajo">Bolsa de trabajo</a></li>
            <li class="line"><a class="out animsition-link" href="gallery.html">Calendario de Eventos</a></li>-->
            <li class="line"><a class="out animsition-link" href="contacto">Contacto</a></li>
          </ul>
        </nav>
      </div>