

<div class="animsition-overlay">
  <section id="section-1">
    <div class="horBar2Bxx wow fadeInLeftBig" data-wow-duration="3s"></div>
    <header class="main_h">
        
        <%= render "menu/menu" %>
      <!-- / row --> 
      
    </header>
    <div class="grid flex">
      <div class="row">
        <div class="colw_6">
          
          <h2 id="title-sub2">Bolsa de trabajo</h2>
        </div>
        <!-- END colw_6 -->
        
        <div class="colw_6 wow zoomIn">
          <div class="box-fix">
            <h3 class="centered">Find us on social media</h3>
            <div class="social"> <a href="https://www.facebook.com/Valeron-design-studio-245216518822368/" class="soc-btn facebook"> <i class="fa fa-facebook"></i> Facebook </a> <a href="https://twitter.com/ds_valeron" class="soc-btn twitter"> <i class="fa fa-twitter"></i> Twitter </a> <a href="https://plus.google.com/116499013539302933204" class="soc-btn google5"> <i class="fa fa-google"></i> Google + </a> </div>
          </div>
        </div>
        <!-- END col_6 --> 
        
      </div>
      <!-- END row --> 
    </div>
    <!-- End GRID FLEX --> 
    
  </section>
  <!-- END #section-1 -->
  
  <section id="blog">
    <div class="grid flex16">
      <div class="row">
        <h2 class="title-blog wow fadeInUp" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: fadeInUp;">Want to make your design business a success? Start here.</span></h2>
        <div class="col_4 beta">
          <div class="horBar2Bxx wow fadeInLeftBig" data-wow-duration="3s"></div>
          <div class="boxwsha column3">
		  
            <div class="zoomimg" id="gallery-1">
              <div class="zoom-wrap" data-responsive="/assets/blog-1-375.jpg 375, /assets/blog-1-480.jpg 480, /assets/blog-1-800.jpg 800" data-src="/assets/blog-1-1600.jpg" data-sub-html="<h4>Hello Istria</h4>"> <a href="" class="fixico"><i class="fa fa-search fa-2x"></i></a> <img src="/assets/blog-1.jpg" alt="Hello Istria" class="full-width"> <span class="fadef"></span> </div>
              
              
            </div>
            
            <div class="clear"></div>
            <div class="col_6">
              <div class="date"> <i class="fa fa-calendar"></i> <span class="italic">12 November 2066</span> <a href="http://www.valeron.net" class="linkline">by John Doo</a> </div>
              
            </div>
            
            
            <div class="col_6">
              <div class="soc-wrap">
                <ul class="blogsocico">
                  <li class="facebook"> <a rel="nofollow" href="http://www.facebook.com/" target="_blank" title="facebook"> </a></li>
                  <li class="googleplus"> <a rel="nofollow" href="https://plus.google.com/" target="_blank" title="googleplus"> </a></li>
                  <li class="twitter"> <a rel="nofollow" href="http://twitter.com/" target="_blank" title="twitter"> </a></li>
                </ul>
              </div>
            
            </div>
            
            <div class="clear"></div>
            <h3 class="title-post">Tenemos muchas ofertas para vos</h3>
            <p class="">Recorda que debes registrarte y el curriculum se enviara automaticamente a la empresa para ser evaluado</p>
            <div class="clear"></div>
            <div class="fix-btn-blog"> <a href="#" class="istria-btn trigger">Registrarse</a>
              <div class="istria-over"></div>
              <div class="istria-line left">
                <div class="inner"></div>
              </div>
            
              <div class="istria-line right">
                <div class="inner"></div>
              </div>
            
            </div>
            
            
          </div>
        
        </div>
        
      
        <div class="col_4 beta">
          <div class="horBar2Bxx wow fadeInLeftBig" data-wow-duration="3s"></div>
          <div class="boxwsha column3 gallerymore">
		  <!-- el gallery 99 es el que dispara el evento de las imagenes -->
            <ul id="gallery-99" class="list-unstyled row">
              <li class="col_6" data-src="/assets/blog-3.jpg"><a href=""><img class="full-width img-responsive" src="/assets/blog-3s.jpg" alt="Business Success" /></a></li>
              <li class="col_6" data-src="/assets/blog-4.jpg"><a href=""><img class="full-width img-responsive" src="/assets/blog-4s.jpg" alt="Business Success" /></a></li>
              <li class="col_6" data-src="/assets/blog-5.jpg"><a href=""><img class="full-width img-responsive" src="/assets/blog-5s.jpg" alt="Business Success" /></a></li>
              <li class="col_6" data-src="/assets/blog-6.jpg"><a href=""><img class="full-width img-responsive" src="/assets/blog-6s.jpg" alt="Business Success" /></a></li>
              <li class="col_6" data-src="/assets/blog-7.jpg"><a href=""><img class="full-width img-responsive" src="/assets/blog-7s.jpg" alt="Business Success" /></a></li>
              <li class="col_6" data-src="/assets/blog-8.jpg"><a href=""><img class="full-width img-responsive" src="/assets/blog-8s.jpg" alt="Business Success" /></a></li>
              <li class="col_6" data-src="/assets/blog-9.jpg"><a href=""><img class="full-width img-responsive" src="/assets/blog-9s.jpg" alt="Business Success" /></a></li>
              <li class="col_6" data-src="/assets/blog-10.jpg"><a href=""><img class="full-width img-responsive" src="/assets/blog-10s.jpg" alt="Business Success" /></a></li>
            </ul>
          </div>
          
        </div>
		
        
        
      </div>
      <!-- END row --> 
    </div>
    <!-- End GRID FLEX --> 
    
  </section>
  <!-- END #section-1 -->
  
  <p class="dolje">2005 - <script>document.write(new Date().getFullYear())</script> Valeron design studio | Izrada web stranica <a href="http://www.valeron.net" class="linkline">VALERON design studio</a></p>
</div>
<!-- END .animsition-overlaj -->

<div class="modal" id="test-modal" style="display: none"> <a href="#" class="close">&times;</a>
  <h5>Hi, I'm the modal demo</h5>
  <div class="more">
    <p>Integer eleifend eros nec nunc venenatis ultrices. Maecenas sollicitudin feugiat urna. Maecenas tellus. Vestibulum semper, lacus in blandit blandit, neque lectus ullamcorper nulla, at viverra elit justo ac lacus. Proin gravida enim non neque ultricies dictum. In vulputate mattis lacus. In mollis nibh a lacus. Aenean a ipsum. Vivamus egestas adipiscing eros. Cras gravida suscipit risus. Maecenas varius sagittis velit. Phasellus rhoncus risus. Nunc quis urna at neque convallis hendrerit. Mauris metus. Integer eleifend eros nec nunc venenatis ultrices. Curabitur placerat. Nam eros dui, semper vitae, tincidunt quis, tincidunt eu, risus. Ut in pede a neque condimentum feugiat. Maecenas dictum tortor non neque.</p>
    <p><a href="#more" class="more-toggle">Add more content</a>.</p>
  </div>
  <div class="more" style="display: none">
    <p>Maecenas sollicitudin feugiat urna. Maecenas tellus. Vestibulum semper, lacus in blandit blandit, neque lectus ullamcorper nulla, at viverra elit justo ac lacus. Proin gravida enim non neque ultricies dictum. In vulputate mattis lacus. In mollis nibh a lacus. Aenean a ipsum. Vivamus egestas adipiscing eros. Cras gravida suscipit risus. Maecenas varius sagittis velit. Phasellus rhoncus risus. Nunc quis urna at neque convallis hendrerit. Mauris metus. Integer eleifend eros nec nunc venenatis ultrices. Curabitur placerat. Nam eros dui, semper vitae, tincidunt quis, tincidunt eu, risus. Ut in pede a neque condimentum feugiat. Maecenas dictum tortor non neque.</p>
    <p>Maecenas sollicitudin feugiat urna. Maecenas tellus. Vestibulum semper, lacus in blandit blandit, neque lectus ullamcorper nulla, at viverra elit justo ac lacus. Proin gravida enim non neque ultricies dictum. In vulputate mattis lacus. In mollis nibh a lacus. Aenean a ipsum. Vivamus egestas adipiscing eros. Cras gravida suscipit risus. Maecenas varius sagittis velit. Phasellus rhoncus risus. Nunc quis urna at neque convallis hendrerit. Mauris metus. Integer eleifend eros nec nunc venenatis ultrices. Curabitur placerat. Nam eros dui, semper vitae, tincidunt quis, tincidunt eu, risus. Ut in pede a neque condimentum feugiat. Maecenas dictum tortor non neque.</p>
    <p>Maecenas sollicitudin feugiat urna. Maecenas tellus. Vestibulum semper, lacus in blandit blandit, neque lectus ullamcorper nulla, at viverra elit justo ac lacus. Proin gravida enim non neque ultricies dictum. In vulputate mattis lacus. In mollis nibh a lacus. Aenean a ipsum. Vivamus egestas adipiscing eros. Cras gravida suscipit risus. Maecenas varius sagittis velit. Phasellus rhoncus risus. Nunc quis urna at neque convallis hendrerit. Mauris metus. Integer eleifend eros nec nunc venenatis ultrices. Curabitur placerat. Nam eros dui, semper vitae, tincidunt quis, tincidunt eu, risus. Ut in pede a neque condimentum feugiat. Maecenas dictum tortor non neque.</p>
    <p>Maecenas sollicitudin feugiat urna. Maecenas tellus. Vestibulum semper, lacus in blandit blandit, neque lectus ullamcorper nulla, at viverra elit justo ac lacus. Proin gravida enim non neque ultricies dictum. In vulputate mattis lacus. In mollis nibh a lacus. Aenean a ipsum. Vivamus egestas adipiscing eros. Cras gravida suscipit risus. Maecenas varius sagittis velit. Phasellus rhoncus risus. Nunc quis urna at neque convallis hendrerit. Mauris metus. Integer eleifend eros nec nunc venenatis ultrices. Curabitur placerat. Nam eros dui, semper vitae, tincidunt quis, tincidunt eu, risus. Ut in pede a neque condimentum feugiat. Maecenas dictum tortor non neque.</p>
  </div>
</div>
<div class="modal" id="test-modal2" style="display: none"> <a href="#" class="close">&times;</a>
  <h5>I'm the modal demo 2</h5>
  <div class="more">
    <p>Integer eleifend eros nec nunc venenatis ultrices. Maecenas sollicitudin feugiat urna. Maecenas tellus. Vestibulum semper, lacus in blandit blandit, neque lectus ullamcorper nulla, at viverra elit justo ac lacus. Proin gravida enim non neque ultricies dictum. In vulputate mattis lacus. In mollis nibh a lacus. Aenean a ipsum. Vivamus egestas adipiscing eros. Cras gravida suscipit risus. Maecenas varius sagittis velit. Phasellus rhoncus risus. Nunc quis urna at neque convallis hendrerit. Mauris metus. Integer eleifend eros nec nunc venenatis ultrices. Curabitur placerat. Nam eros dui, semper vitae, tincidunt quis, tincidunt eu, risus. Ut in pede a neque condimentum feugiat. Maecenas dictum tortor non neque.</p>
    <p><a href="#more" class="more-toggle">Add more content</a>.</p>
  </div>
  <div class="more" style="display: none">
    <p>Maecenas sollicitudin feugiat urna. Maecenas tellus. Vestibulum semper, lacus in blandit blandit, neque lectus ullamcorper nulla, at viverra elit justo ac lacus. Proin gravida enim non neque ultricies dictum. In vulputate mattis lacus. In mollis nibh a lacus. Aenean a ipsum. Vivamus egestas adipiscing eros. Cras gravida suscipit risus. Maecenas varius sagittis velit. Phasellus rhoncus risus. Nunc quis urna at neque convallis hendrerit. Mauris metus. Integer eleifend eros nec nunc venenatis ultrices. Curabitur placerat. Nam eros dui, semper vitae, tincidunt quis, tincidunt eu, risus. Ut in pede a neque condimentum feugiat. Maecenas dictum tortor non neque.</p>
    <p>Maecenas sollicitudin feugiat urna. Maecenas tellus. Vestibulum semper, lacus in blandit blandit, neque lectus ullamcorper nulla, at viverra elit justo ac lacus. Proin gravida enim non neque ultricies dictum. In vulputate mattis lacus. In mollis nibh a lacus. Aenean a ipsum. Vivamus egestas adipiscing eros. Cras gravida suscipit risus. Maecenas varius sagittis velit. Phasellus rhoncus risus. Nunc quis urna at neque convallis hendrerit. Mauris metus. Integer eleifend eros nec nunc venenatis ultrices. Curabitur placerat. Nam eros dui, semper vitae, tincidunt quis, tincidunt eu, risus. Ut in pede a neque condimentum feugiat. Maecenas dictum tortor non neque.</p>
    <p>Maecenas sollicitudin feugiat urna. Maecenas tellus. Vestibulum semper, lacus in blandit blandit, neque lectus ullamcorper nulla, at viverra elit justo ac lacus. Proin gravida enim non neque ultricies dictum. In vulputate mattis lacus. In mollis nibh a lacus. Aenean a ipsum. Vivamus egestas adipiscing eros. Cras gravida suscipit risus. Maecenas varius sagittis velit. Phasellus rhoncus risus. Nunc quis urna at neque convallis hendrerit. Mauris metus. Integer eleifend eros nec nunc venenatis ultrices. Curabitur placerat. Nam eros dui, semper vitae, tincidunt quis, tincidunt eu, risus. Ut in pede a neque condimentum feugiat. Maecenas dictum tortor non neque.</p>
    <p>Maecenas sollicitudin feugiat urna. Maecenas tellus. Vestibulum semper, lacus in blandit blandit, neque lectus ullamcorper nulla, at viverra elit justo ac lacus. Proin gravida enim non neque ultricies dictum. In vulputate mattis lacus. In mollis nibh a lacus. Aenean a ipsum. Vivamus egestas adipiscing eros. Cras gravida suscipit risus. Maecenas varius sagittis velit. Phasellus rhoncus risus. Nunc quis urna at neque convallis hendrerit. Mauris metus. Integer eleifend eros nec nunc venenatis ultrices. Curabitur placerat. Nam eros dui, semper vitae, tincidunt quis, tincidunt eu, risus. Ut in pede a neque condimentum feugiat. Maecenas dictum tortor non neque.</p>
  </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 

<script type="text/javascript">
        $(document).ready(function(){
            $('#gallery-1, #gallery-2, #gallery-3').lightGallery();
        });
    $('#gallery-99').lightGallery({
        thumbnail:true,
        animateThumb: false,
        showThumbByDefault: false,		
		speed: 1200
    });
 
</script> 
<script src="js/jquery.the-modal.js"></script> 
<script type="text/javascript">
		jQuery(function($){
			// bind event handlers to modal triggers
			$('body').on('click', '.trigger', function(e){
				e.preventDefault();
				$('#test-modal').modal().open();
			});
				$('body').on('click', '.trigger2', function(e){
				e.preventDefault();
				$('#test-modal2').modal().open();
			});

			// attach modal close handler
			$('.modal .close').on('click', function(e){
				e.preventDefault();
				$.modal().close();
			});

			// below isn't important (demo-specific things)
			$('.modal .more-toggle').on('click', function(e){
				e.stopPropagation();
				$('.modal .more').toggle();
			});
		});
	</script> 
<script src="js/functions.js"></script> 
<script type="text/javascript">
$( document ).ready(function() {
$('.menu-item').hover(function () {
    $('#active', this).toggleClass('active');
    $('#active', this).css({'display':'block'});
});
});
</script> 
<script type="text/javascript">
$(function(){
  $(".textlimit").each(function(i){
    len=$(this).text().length;
    if(len>100)
    {
      $(this).text($(this).text().substr(0,100)+'...');
    }
  });
});
</script> 
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15815880-3']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>