<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Contact Istria 1 free template</title>
<meta property="og:url" content="http://www.valeron.net/index.html" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Free responsive web template Istria - Contact" />
<meta property="og:description" content="Free responsive web template Istria by Valeron design studio - Contact" />
<meta property="og:image" content="http://www.valeron.net/img/valeron-artist.jpg" />
<meta name="description" content="Free responsive web template Istria by Valeron design studio - Contact" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="robots" content="index,follow,all" />
<meta name="keywords" content="Izrada web stranica, web studio Istra" />
<meta name="author" content="Valeron design studio" />
<link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="img/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="img/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="img/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="img/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="img/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="img/manifest.json">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="img/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">

<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>
<div class="animsition-overlay">
  <div class="horBar2Bxx wow fadeInLeftBig" data-wow-duration="3s"></div>
  <header class="main_h">
    <%= render "menu/menu" %>
    
  </header>
  <div class="grid flex16">
    <div class="row">
      <div class="colw_6">
        
        <h2 id="title-sub2">Contactanos!</h2>
      </div>
      <!-- END colw_6 -->
      
      <%= render "menu/redesSociales" %>
      <!-- END col_6 --> 
      
    </div>
    <!-- END row --> 
    
  </div>
  <!-- End GRID FLEX16 -->
  
  <div class="grid">
    <div class="row paddtop100">
      <div class="col_12">
        <h2 class="title-small center">Queremos promober el contacto con la comunidad no dudes en contactarnos</h2>
        
      </div>
      <!-- END col_12 -->
      
      <div class="colw_6 spec-l-cont border-right">
        <h3>Informacion de contacto</h3>
        <ul class="contact">
          <li>Calle 9 & Ostende, Berisso <span><i class="fa fa-map-marker"></i></span></li>
          <li>(221)5368476<span><i class="fa fa-phone"></i></span></li>
          <li>+1 (555) 543-4568 <span><i class="fa fa-fax"></i></span></li>
          <li>contacto@centrodeingenieros.com.ar<span><i class="fa fa-envelope"></i></span></li>
          <li>Lunes - Viernes 9:00 - 18:00 <span><i class="fa fa-clock-o"></i></span></li>
        </ul>
        <hr />
        <a href="https://www.google.com.ar/maps/place/Calle+9+%26+Ostende,+B1923+Berisso,+Buenos+Aires/@-34.8697524,-57.8885106,17z/data=!4m13!1m7!3m6!1s0x95a2e44cc79452f3:0xdbe8548538c4f5eb!2sCalle+9+%26+Ostende,+B1923+Berisso,+Buenos+Aires!3b1!8m2!3d-34.8697524!4d-57.8863219!3m4!1s0x95a2e44cc79452f3:0xdbe8548538c4f5eb!8m2!3d-34.8697524!4d-57.8863219?hl=es"><img src="/assets/google-map.png" alt="Google Maps" class="full-width"></a> </div>
      <!-- END col_6 -->
      
      <div class="colw_6 paddbott100 spec-r-cont">
        <h3>Formulario de contacto</h3>
        <div class="slickwrap">
          <div class="slickreporting">
            <div class="successcontainer"></div>
            <div class="errorcontainer">
              <div class="errorshutter"></div>
              <div class="slickerror"></div>
            </div>
          </div>
          <form method="post" id="slickform" action="javascript:slickcontactparse();">
            <fieldset>
              <label><span>*</span>Nombre</label>
              <input id="name" name="name" type="text" value="">
              <br />
              <label><span>*</span>Telefono</label>
              <input id="phone" name="phone" type="text" value="">
              <br />
              <label><span>*</span>Email</label>
              <input id="email" name="email" type="text" value="">
              <br />
              <label><span>*</span>Mensaje</label>
              <textarea name="comment" id="comment" cols="5" rows="5" class="largertextarea"></textarea>
              <h3>Sos humano?</h3>
              <br />
              <label><span>*</span> 12 + 3</label>
              <input name="human" id="human" type="text" value="" class="areyouhuman">
              <hr />
              <input name="submit" type="submit" value="Enviar!" class="slickbutton">
            </fieldset>
          </form>
        </div>
      </div>
      <!-- END col_6 --> 
      
    </div>
    <!-- END row --> 
    
  </div>
  <!-- End GRID FLEX16 -->
  
  <div class="grid">
    <div class="row paddbott100">
      <div class="col_6">
        <h6>Nuestro lugar</h6>
        <p>El local se encuentra en una hermosa y emblemática esquina de la ciudad

de Berisso a dos cuadras de la avenida Montevideo, enfrente de la

Confitería Don Armando y a media cuadra del gimnasio Athila (donde van

los gerentes de YPF y las Autoridades del municipio, la panadería Don

Armando es la mas concurrida por todos los de Berisso, las manos de

circulación de las calles nos benefician de todos lados porque deben pasar

frente del local tanto cuando venís de la Montevideo bajando por la calle 9 y

cuando vas hacia la calle 7 o Génova para ir a la plata tenes q agarrar la

165 o para ir al gimnasio tmb, en una palabra es una excelente esquina

para ser vistos sin pasar desapercibidos.
</p>
      </div>
      <!-- END col_6 -->
      
      <div class="col_6">
       
      </div>
      <!-- END col_6 --> 
      
    </div>
    <!-- END row -->
    
    <%= render "menu/footer" %>
  </div>
  <!-- End GRID --> 
</div>
<!-- END .animsition-overlaj --> 


<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15815880-3']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>