<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Realize Your Business Goals</title>
<meta property="og:url" content="http://www.valeron.net/index.html" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Free responsive web template Istria - Realize Your Business Goals" />
<meta property="og:description" content="Free responsive web template Istria by Valeron design studio - Realize Your Business Goals" />
<meta property="og:image" content="http://www.valeron.net/img/valeron-artist.jpg" />
<meta name="description" content="Free responsive web template Istria by Valeron design studio - Realize Your Business Goals" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="robots" content="index,follow,all" />
<meta name="keywords" content="Izrada web stranica, web studio Istra" />
<meta name="author" content="Valeron design studio" />
<link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="img/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="img/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="img/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="img/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="img/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="img/manifest.json">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="img/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.8/font-awesome-animation.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>
<div class="animsition-overlay">
  <div class="horBar2Bxx wow fadeInLeftBig" data-wow-duration="3s"></div>
  <header class="main_h">
   <%= render "menu/menu" %>
    
  </header>
  <div class="grid flex16">
    <div class="row">
      <div class="colw_6">
        
        <h2 id="title-sub2">Cursos</h2>
      </div>
      <!-- END colw_6 -->
      
      <div class="col_6">
        <div class="bannerbox">
          <div class="banner">
            <div class="phrase-1">Cualquier duda: </div>
            <div class="phrase-2">Consultanos! 00385 52 555 555</div>
            <div class="blob-1"></div>
            <div class="blob-2"></div>
            <div class="blob-3"></div>
          </div>
        </div>
      </div>
      <!-- END col_6 --> 
      
    </div>
    <!-- END row --> 
    
  </div>
  <!-- End GRID FLEX16 -->
  
  <div class="grid">
    <div class="row paddtop100">
      <div class="col_12">
        <h2 class="title-small center">Nuestros cursos estan dedicados a diversas personas</h2>
        <h3 class="title-gray center">Encontra el que aplique a vos!</h3>
      </div>
      <!-- END col_12 -->
      
      <div class="colw_6 spec-l border-right">
        <p>Creamos este espacio para que puedas profundizar tus conocimientos en diversas materias, los cursos son variados, tratando de llegar a la mayor cantidad de gente y diversidad, de nuestra parte trataremos siempre de que sean gratuitos o de entregar becas, pero como todos sabemos no siempre es posible, ante cualqueir duda consultanos y trataremos de resolver cualquier inconveniente. </p>
      </div>
      <!-- END col_6 -->
      
      <div class="colw_6 paddbott100 spec-r">
        <p>Por razones de organizacion para inscribirte a algun curso debes estar <a href="registrarse">registrado</a>, podes hacerlo desde este <a href="registrarse">link</a> o  desde la barra de navegacion, te pedimos que los datos sean reales ya que seran usados para contactarse con vos por cosas referidas a los curso a los que te inscribiste, ademas que utilizaremos esta informacion para tareas administrativas referidas a las inscripciones en caso de que las manejemos intermanemte , muchas gracias! </p>
      </div>
      <!-- END col_6 --> 
      
    </div>
    <!-- END row --> 
    
  </div>
  <!-- End GRID FLEX -->
  
  <div id="graybg">
    <div class="grid flex16">
      <div class="row paddtop5">
        <div class="col_3 beta boxwsha font90 column2 wow fadeInUpBig" data-wow-duration="1s">
          <h4 class="color90 gray3 enticlick">Curso 1</h4>
          <p>descripcion del curso</p>
          <p>Dolore, dolor repellat quasi. Architecto velit sequi fuga minima commodi, porro vitae officiis.</p>
          
        </div>
        <!-- END col_3 -->
        
        <div class="col_3 beta boxwsha font90 column2 wow fadeInUpBig" data-wow-duration="1s" data-wow-delay=".3s">
          <h4 class="color90 gray2 enticlick">Curso 2</h4>
          <p>info curso 2</p>
          
        </div>
        <!-- END col_3 -->
        
        <div class="col_3 beta boxwsha font90 column2 wow fadeInUpBig" data-wow-duration="1s" data-wow-delay=".6s">
          <h4 class="color90 gray3">Curso 3</h4>
          <p>descripcion curso 3</p>
          
          
        </div>
        <!-- END col_3 -->
        
        <div class="col_3 beta boxwsha font90 column2 wow fadeInUpBig" data-wow-duration="1s" data-wow-delay=".9s">
          <div class="colw_12 alomdebe"> <img src="/assets/web-dizajn-istra2.jpg" class="full-width" alt="Image"/> </div>
          <!-- END colw_12 alomdebe -->
          
          <div class="col_12">
            <p><strong>Lorem ipsum dolor sit amet</strong></p>
            <p>Facilis nesciunt eos, ipsum id, architecto velit sequi, porro vitae officiis.</p>
          </div>
          <!-- END colw_12 --> 
          
        </div>
        <!-- END col_3 --> 
        
      </div>
      <!-- END row -->
      
      <div class="row">
        <div class="col_12"> </div>
        <!-- END col_12 --> 
        
      </div>
      <!-- END row --> 
      
    </div>
    <!-- End GRID FLEX16 --> 
    
  </div>
  <!-- END section-7 -->
  
  <div class="grid flex16">
    <div class="row paddtop5">
      <div class="colw_6 beta wow column zoomIn">
        <div class="videoWrapper videoWrapper169 js-videoWrapper">
          <iframe class="videoIframe js-videoIframe" src="" frameborder="0" allowTransparency="true" allowfullscreen data-src="https://www.youtube.com/embed/ar-rzqUYdf0?autoplay=1& modestbranding=1&rel=0&hl=sv"></iframe>
          <button class="videoPoster js-videoPoster" style="background-image:url(/assets/umag.jpg);">Play video</button>
        </div>
      </div>
      <!-- END col_6 -->
      
      <div class="colw_6 beta column reladiv">
        <div class="box66">
          <h3 class="title-3 wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.5s">Ultimo curso! </h3>
          <p>Aca un video de el ultimo curso que dimos nosotros esperamos verte en el proximo!</p>
          <p>Architecto velit sequi fuga minima commodi, porro vitae officiis, minus voluptates ab. Dolore, dolor repellat quasi.</p>
          <p class="paddbott100">Facilis nesciunt eos, ipsum id, architecto velit sequi, porro vitae officiis, voluptatibus minus voluptates ab. Dolore, <a href="#">dolor repellat quasi</a>.</p>
        </div>
        <!-- END box66 --> 
        
        <a href="#" class="istria-btn">Saber mas</a>
        <div class="istria-line left">
          <div class="inner"></div>
        </div>
        <div class="istria-line right">
          <div class="inner"></div>
        </div>
      </div>
      <!-- END col_6 --> 
      
    </div>
    <!-- END row --> 
  </div>
  <!-- End GRID FLEX -->
  
  <div class="grid flex16">
    <div class="row paddbott100">
      <div class="col_6">
        <div class="box66">
          <h6>Contactanos en las redes sociales ! </h6>
          <p>Architecto velit sequi fuga minima commodi, porro vitae officiis, minus voluptates ab. Dolore, dolor repellat quasi.</p>
          <p class="paddbott100">Facilis nesciunt eos, ipsum id, architecto velit sequi, porro vitae officiis, voluptatibus minus voluptates ab. Dolore, <a href="#">dolor repellat quasi</a>.</p>
        </div>
        <!-- END box66 --> 
      </div>
      <!-- END col_6 -->
      
      <%= render "menu/redesSociales" %>
      <!-- END col_6 --> 
      
    </div>
    <!-- END row -->
    
    <%= render "menu/footer" %>
  </div>
  <!-- End GRID --> 
</div>
<!-- END .animsition-overlaj --> 

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script type="text/javascript" src="js/jquery.matchHeight-min.js"></script> 

<script>
$(".enticlick").click(function() {
  window.location = $(this).find("a").attr("href"); 
  return false;
});
</script> 

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15815880-3']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>